
{% extends 'base.html' %}

{% block main %}
<div class="form-content container">
    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Username</label>
        {{ form.username }}
        </div>

        <div>
            <label for="id_password">Password</label>
        {{ form.password }}
        </div>
        <button type="submit" class="button primary w-full mb-4">Login</button>
    </form>
</div>
{% endblock %}
