{% extends 'base.html' %}

{% block main %}
<div class="container">
   <div class="mb-5"><a href="{% url 'blog:create'%}" class="button primary">Create New Post</a></div>
   <h3>You have {{  user_post_count }} posts</h3>
    <div class="card-wrapper">
     {% for post in blog_list %}
    <div class="card">

        <div class="card-text">
            <a href="{{ post.get_absolute_url }}"><h3>{{post.title }}</h3></a>
         <div class="link-group">
         <a href="{{ post.get_absolute_url }}">View</a>
         <a href="{% url 'blog:edit' post.pk %}">Edit</a>
         <a href="{% url 'blog:delete' post.pk %}">Delete</a>
         </div>

        </div>

        <div style="padding:12px;">
            <small>10 mins read</small>
        </div>

    </div>
    {% endfor %}

    </div><!--end card wrapper-->
  
</div>
<!--end container-->

{% endblock %}