{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="card-wrapper">
     {% for blog in object_list %}
    <div class="card mb-4">

        <div class="card-text">
         <a href="{{ blog.get_absolute_url }}"><h3>{{ blog.title }}</h3></a>
            <p>{{blog.content|safe|truncatewords:20}}</p>

        </div>

        <div style="padding:12px;">

      <small>published by <a href="{% url 'user:profile' blog.author %}">{{blog.author}}</a></small>

            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/><small>{{ blog.view_count }}</small></p>
                
            <small>10 mins read</small>
        </div>

    </div>
    {% endfor %}

    </div><!--end card wrapper-->
  
</div>
<!--end container-->

{% endblock %}